@charser "UTF-8";

#photo {
display:block;
margin-top: 2px;
margin-bottom:2px;
padding: 6px;
width: 259px;
text-align:center;
}
#photo-inner {
display:block;
width: 245px;
padding: 6px;
margin-bottom: 6px;
}
#photo-inner a { 
margin:2px;
}

