<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" encoding="utf-8">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MyNETS Converter</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="stylesheet" href="<?php echo base_url().'css/installer.css'; ?>" type="text/css" />

</head>
<body>

    <!-- navigation starts here -->
    <div id="nav">

        <ul>
            <li><a href="./">Converter top</a></li>
            <li><a href="./help.php">FAQ</a></li>
            <li><a href="http://usagi.mynets.jp/SBBS/" target="_brank">Support BBS</a></li>
            <li><a href="http://usagi.mynets.jp/" target="_brank">About Usagi Project</a></li>
        </ul>
    </div>
    <!-- header starts here -->
    <div id="header">
        <div id="clouds2"></div>
        <h1 id="logo-text"><a>MyNETS</a></h1>
        <p id="slogan">Welcom SNS World !!</p>

    </div>
