@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

a:link {
  color: #006699;
  text-decoration: none;
}

a:visited {
  color: #663366;
  text-decoration: none;
}

a:hover {
  color: #FF6600;
  text-decoration: none;
}

ul,ol {
  margin-left: 30px;
}
